@font-face {
    font-family: 'Aileron Black';
    src: url('recursos/aileron.black.otf') format('opentype');
  }
  @font-face {
    font-family: 'Aileron Bold';
    src: url('recursos/aileron.bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Aileron Light';
    src: url('recursos/aileron.light.otf') format('opentype');
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: #ffffff;
    color: #2B2B2B;
  }
  .navbar {
    background-color: #2B2B2B;
    padding: 1rem;
  }
  .navbar-brand img {
    height: 40px;
  }
  .navbar-nav .nav-link {
    color: #2B2B2B;
    margin-right: 20px;
  }
  .navbar-nav .nav-link:hover, .navbar-nav .dropdown-item:hover {
    color: #2B2B2B;
  }
  .dropdown-menu {
    background-color: #2B2B2B;
    border: none;
  }
  .dropdown-item {
    color: #ffffff;
  }
  .dropdown-item:hover {
    background-color: #FF4949;
    color: #2B2B2B;
  }
  .dropdown-item:focus, .dropdown-item:active {
    background-color: #FF4949;
    color: #2B2B2B;
  }
  .product-title {
    font-family: 'Aileron Black', sans-serif;
    color: #2B2B2B;
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  .product-category {
    font-family: 'Aileron Bold', sans-serif;
    color: #0FA958;
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  .product-price {
    font-family: 'Aileron Bold', sans-serif;
    color: #9e62ff;
    font-size: 2rem;
    margin-bottom: 20px;
  }
  .btn-buy {
    background-color: #FF4949;
    color: #2B2B2B;
    font-size: 1.2rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: inline-block;
  }
  .btn-buy:hover {
    background-color: #0FA958;
    color: white;
  }
  .product-image {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
  }
  .product-description {
    font-family: 'Aileron Light', sans-serif;
    font-size: 1.1rem;
    margin-bottom: 20px;
    color: #2B2B2B;
  }
  .product-category a {
    color: #0FA958; 
    text-decoration: none; 
  }
  
  .product-category a:hover {
    color: #FF4949; 
    text-decoration: underline;
  }
  
  .additional-info {
    margin-top: 50px;
  }
  footer {
    background-color: #2B2B2B;
    padding: 20px 0;
    color: #FFFFFF;
  }
  footer .col-md-4 {
    margin-bottom: 20px;
  }
  footer h5 {
    font-family: 'Aileron Black', sans-serif;
    margin-bottom: 10px;
    color: #FFFFFF;
  }
  footer p {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #FFFFFF;
  }
  footer a {
    color: #FFFFFF;
    text-decoration: none;
  }
  footer a:hover {
    color: #FF4949;
  }
  .footer-socials {
    list-style: none;
    padding: 0;
  }
  .footer-socials li {
    display: inline;
    margin-right: 10px;
  }
  .footer-socials a {
    color: #FFFFFF;
    font-size: 1.2rem;
  }
  .footer-socials a:hover {
    color: #FF4949;
  }
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444444;
    margin-top: 20px;
  }
  