/* General */
body {
  font-family: 'Inter', sans-serif;
  background-color: #FFFFFF;
  color: #2B2B2B;
}

/* Navbar */
.navbar {
  background-color: #2B2B2B;
}

.navbar-brand img {
  width: 120px;
}

.nav-link {
  color: #FFFFFF !important;
}

.nav-link:hover {
  color: #FF4949 !important;
}

.dropdown-menu {
  background-color: #2B2B2B;
}

.dropdown-item {
  color: #FFFFFF;
}

.dropdown-item:hover {
  color: #FF4949;
  background-color: transparent;
}

/* Jumbotron */
.main-section {
  background-color: #555555;
  color: #FFFFFF;
  padding: 100px 0;
  margin-top: 56px; /* Ajusta para el alto de la navbar fija */
}

.main-section .display-4 {
  font-family: 'Aileron Black', sans-serif;
}

.main-section .lead {
  font-family: 'Aileron Light', sans-serif;
}

/* Estilos para el título de la sección */
.section-title {
  font-family: 'Aileron Black', sans-serif;
  font-size: 2rem;
  color: #2B2B2B;
  margin-bottom: 40px;
  position: relative;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
  padding-bottom: 1rem;
}

.section-title::after {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  background-color: #FF4949;
  margin: 10px auto;
  border-radius: 2.5px;
}

/* Productos Destacados */
.product-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #FFFFFF;
  transition: transform 0.3s, box-shadow 0.3s;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;  /* Asegura que la imagen ocupe todo el ancho del contenedor */
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsión */
}

.product-card:hover img {
  transform: scale(1.1);
}

.product-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.60rem !important;
}

.product-card .card-title {
  font-family: 'Aileron', sans-serif;
  font-weight: bold;
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.product-card .card-text {
  color: #0FA958;
  font-weight: semibold;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.product-card .btn-primary {
  background-color: #FF4949;
  border-color: #FF4949;
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 50px;
  transition: background-color 0.3s, transform 0.3s;
}

.product-card .btn-primary:hover {
  background-color: #CC3A3A;
  transform: scale(1.05);
}

/* Animación para los elementos */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.product-card {
  animation: fadeInUp 0.5s ease-out;
}


/* Footer */
footer {
  background-color: #2B2B2B;
  color: #FFFFFF;
  padding: 40px 0;
}

footer h5 {
  font-family: 'Aileron', sans-serif;
  font-weight: bold;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

footer ul li a:hover {
  color: #FF4949;
  text-decoration: none;
}

.footer-socials {
  list-style: none;
  padding: 0;
}

.footer-socials li {
  display: inline;
  margin-right: 20px;
}

.footer-socials a {
  color: #e4e2dd;
  font-size: 1.2rem;
  text-decoration: none;
  transition: color 0.3s;
}

.footer-socials a:hover {
  color: #FF4949;
}

@font-face {
  font-family: 'Aileron Black';
  src: url('recursos/aileron.black.otf') format('opentype');
}
@font-face {
  font-family: 'Aileron Bold';
  src: url('recursos/aileron.bold.otf') format('opentype');
}
@font-face {
  font-family: 'Aileron Light';
  src: url('recursos/aileron.light.otf') format('opentype');
}
