@font-face {
    font-family: 'Aileron Black';
    src: url('recursos/aileron.black.otf') format('opentype');
  }
  @font-face {
    font-family: 'Aileron Bold';
    src: url('recursos/aileron.bold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Aileron Light';
    src: url('recursos/aileron.light.otf') format('opentype');
  }
  body {
    font-family: 'Inter', sans-serif;
    background-color: white;
    color: #2B2B2B;
  }
  .navbar {
    background-color: #2B2B2B;
    padding: 1rem;
  }
  .navbar-brand img {
    height: 40px;
  }
  .navbar-nav .nav-link {
    color: #e4e2dd;
    margin-right: 20px;
  }
  .navbar-nav .nav-link:hover, .navbar-nav .dropdown-item:hover {
    color: #2B2B2B;
  }
  .dropdown-menu {
    background-color: #2B2B2B;
    border: none;
  }
  .dropdown-item {
    color: #e4e2dd;
  }
  .dropdown-item:hover {
    background-color: #FF4949;
    color: white;
  }
  .dropdown-item:focus, .dropdown-item:active {
    background-color: #FF4949;
    color: #e4e2dd;
  }
  
  footer {
    background-color: #2B2B2B;
    padding: 20px 0;
    color: #e4e2dd;
  }

  footer h5 {
    font-family: 'Aileron Black', sans-serif;
    margin-bottom: 10px;
    color: #e4e2dd;
  }
  footer p {
    font-family: 'Inter', sans-serif;
    font-size: 0.9rem;
    color: #e4e2dd;
  }
  footer a {
    color: #e4e2dd;
    text-decoration: none;
  }
  footer a:hover {
    color: #FF4949;
  }
  .footer-socials {
    list-style: none;
    padding: 0;
  }
  .footer-socials li {
    display: inline;
    margin-right: 10px;
  }
  .footer-socials a {
    color: #e4e2dd;
    font-size: 1.2rem;
  }
  .footer-socials a:hover {
    color: #FF4949;
  }
  .footer-bottom {
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #444444;
    margin-top: 20px;
  }

  .input-underline {
    border: none; /* Elimina todos los bordes */
    border-bottom: 1px solid #2B2B2B; /* Agrega una línea inferior */
    outline: none; /* Elimina el contorno que aparece al enfocar */
    padding: 8px 0; /* Espaciado interno */
    font-size: 16px; /* Tamaño de la fuente */
}

.input-underline:focus {
    border-bottom-color: #2B2B2B; /* Cambia el color de la línea al enfocar */
}

.social-icons i {
  margin-right: 10px; /* Espacio a la derecha de cada ícono */
}

/* Elimina el margen derecho del último ícono si no quieres espacio extra */
.social-icons i:last-child {
  margin-right: 0;
}

/* Estilos para el mensaje de éxito */
#mensaje-exito {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el borde inferior */
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  background-color: #d8fae0; /* Color verde para éxito */
  color: #444444; /* Texto blanco */
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1050; /* Asegúrate de que esté encima de otros elementos */
  /* display: none; */
  animation: fadeInOut 4s forwards; /* Animación para desaparecer después de unos segundos */
}
